@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 24px;
  font-family: 'Merriweather', serif;
}
#header1-1 H1 {
  font-size: 32px;
}
#header1-1 DIV {
  text-align: left;
}
#header3-13 H3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #4a4846;
}
#content1-11 P {
  text-align: center;
}
#content1-11 UL {
  text-align: center;
}
#features1-3 P {
  text-align: center;
}
#content1-14 P {
  text-align: center;
}
